[Desktop Entry]
Version=1.0
Type=Application
Name=SEA
Comment=SEA TOOL
Exec=bash sea.sh
Icon=telephony-service-call
Path=/home/alhamwi/SEA-fish
Terminal=true
StartupNotify=false
